:root {
    --color-white: #fff;
    --color-primarywhite: #ededed;
    --color-secondarywhite: #eee;
    --color-blue: #2196f3;
    --color-focus: #188ce8;
    --color-darkblue: #2f303a;
    --color-black: #212121;
    --color-gray: #757575;
    --color-secondary-gray: #c4c4c4;
    --color-lightgray: #f5f4fa;
    --color-social-icon: #afb1b8;
}