.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    @include for-phone-only {
        justify-content: space-between;
    }
    @media (min-width:480px) and (max-width: 768px) {
        max-width: 480px;
    }
    @include for-tablet-only {
        max-width: 768px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 88px;
    @include for-desktop-up {
        gap: 92px;
    }
  }

  &__menu-one {
    display: flex;
    align-items: center;
    gap: 50px;
    @include for-phone-only {
        display: none;
    }
  }

  &__menu-two {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include for-phone-only {
        display: none;
    }
    @include for-tablet-only{
        flex-direction: column;
    }
    @include for-desktop-up {
        flex-wrap: nowrap;
        gap: 50px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    @include for-desktop-up {
        gap: 10px;
    }
    fill: var(--color-gray);
  }

  &__site-nav {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: -webkit-min-content;
    padding: 32px 0;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__auth-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-gray);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    width: 138px;
    @include for-desktop-up {
        width: 161px;
        font-size: 14px;
        line-height: 1.14;
        padding: 32px 0;
    }
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail {
    @include for-desktop-up {
        width: 16px;
        height: 12px;
    }
  }

  &__phone {
    @include for-desktop-up {
        height: 16px;
    }
  }

  &__auth-nav:hover,
  &__site-nav:hover,
  &__auth-nav:focus,
  &__site-nav:focus {
    color: var(--color-focus);
    fill: var(--color-focus);
  }

  &__site-nav--current {
    color: var(--color-blue);
    position: relative;
    transition-property: after;
    &::after {
      display: block;
      background: var(--color-blue);
      border-radius: 2px;
      width: 100%;
      height: 4px;
      content: "";
      position: absolute;
      transform: translateY(29px);
    }
  }

  &__burger {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: var(--color-white);
    @include for-tablet-landscape-up {display: none;}
  }
}
