.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 609px;
  margin: 0 15px;
  padding: 40px;
  @include for-desktop-up {
    max-width: 528px;
    max-height: 581px;
    left: 50%;
  }
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  @include is-hidden;
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    fill: var(--color-blue);
  }
  &-icon {
    display: flex;
    margin: auto;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  @include for-desktop-up {
    line-height: 1.15;
  }
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form-field {
  margin-bottom: 10px;
  &-checkbox {
    @include for-phone-only {
        align-items: flex-end;
    }
    margin-bottom: 30px;
  }
}

/* form-field */

.form-field__label {
  color: var(--color-gray);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-field__control {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field__input:focus,
.form-field__textarea:focus {
  border-color: var(--color-blue);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--color-blue);
}

.checkbox {
  display: flex;
  appearance: none;
}

.checkbox__input {
  appearance: none;
}

.checkbox__icon {
  position: absolute;
  margin: 3px 7px 0 13px;
  fill: transparent;
  border: 0.2px solid var(--color-black);
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  fill: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.checkbox__label {
  position: relative;
  padding-left: 36px;
  font-size: 12px;
  line-height: 1.16;
  @include for-desktop-up {
    font-size: 14px;
    line-height: 1.71;
  }
  letter-spacing: 0.03em;
}

.checkbox__conditions-contract {
  text-decoration: underline;
  color: var(--color-blue);
}

.form__submit {
  display: block;
  margin: 0 auto;
}
