.features {
  padding: 60px 0 60px;
  background-size: 100%;
  @include for-desktop-up {
    padding: 94px 0 0;
  }

  &__ul {
      display: flex;
      gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
      @include for-tablet-only {
        margin: 0 24px 0;
      }
      @media (max-width: 815px) {
        margin: 0;
      }
      @include for-desktop-up {
        flex-wrap: nowrap;
      }
  }

  &__list {
      max-width: 450px;
      @include for-tablet-landscape-up {
        max-width: 354px;
      }
      @include for-desktop-up {
        max-width: 270px;
      }
  }

  &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      background: var(--color-lightgray);
      border-radius: 4px;
      margin-bottom: 30px;
  }

  &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      margin: 0 0 10px;

      @include for-phone-only {
          text-align: center;
      }
  }
}
