.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  &__color {
    color: var(--color-blue);
  }

  &__white {
    color: var(--color-white);
  }

  @include for-desktop-up {
    font-size: 26px;
    line-height: 1.15;
  }
}
