.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(100%);
    transition: 500ms;

    &__close {
        position: absolute;
        right: 25px;
        top: 21px;
        background-color: var(--color-white);
        border: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover,
        &:focus {
            fill: var(--color-blue);
        }
    }

    &.is-open {
        transform: translateX(0%);
    }

    &__container {
        padding: 48px 40px;
    }

    &__menu-one {
        margin-bottom: 302px;
    }

    &__li:first-child {
        margin-bottom: 35px;
    }
    &__li {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    }
    &__li:last-child {
        margin-bottom: 0;
    }

    &__site-nav--current {
        color: var(--color-blue);
        position: relative;
        transition-property: after;
    }

    &__link {
        margin-bottom: 32px;
    }
    &__link:last-child {
        margin-bottom: 64px;
    }

    &__mail {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
    &__tel {
        color: var(--color-gray);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }

    &__socials {
        display: flex;
        gap: 10px;
    }
    &__social {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
    &__line {
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(0deg);
    }
}