.our-team {
  margin: 0 auto;
  background-color: var(--color-lightgray);
  
  &__title {
    @extend %title;
    @include for-desktop-up {
        font-size: 36px;
        line-height: 1.16;
        margin: 0 0 50px;
    }
  }

  &__ul {
    @extend %display-flex;
    justify-content: center;
    @include for-phone-only {
        flex-wrap: wrap;
        }
    @include for-tablet-landscape-up {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include for-tablet-only {
        margin: 0 24px 0;
    }
    @media (max-width: 815px) {
        margin: 0;
    }
    @include for-desktop-up {
        flex-wrap: nowrap;
    }
  }

  &__card {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
    max-height: 622px;
    @include for-tablet-landscape-up {
        width: 354px;
        height: 536px;
    }
    @include for-desktop-up {
        width: 270px;
        height: 428px;
    }
  }

  &__box {
    padding: 30px 0;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
