.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
    border-radius: 50%;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--color-blue);
    }
  }

  &__link-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    fill: var(--color-social-icon);
    border-radius: 50%;
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--color-blue);
      fill: var(--color-white);
    }
  }
}
